<mat-card class="grid-item">
	<mat-card-header>
		<div class="flex-container">
			@if(!isMobile$$()) {
			<mat-icon class="flex-item">
				dns
			</mat-icon>
			}
			<div (dblclick)="toggleEditMode()" class="flex-item">
				@if(!isEditing$$()) {
				<mat-card-title>{{ server.label }} </mat-card-title>
				} @else {
				<div appClickOutside (clickOutside)="onClickedOutside()" class="flex-item">
					<form [formGroup]="formGroup" class="example-form" name="form" appClickOutside (clickOutside)="onClickedOutside()">
						<mat-form-field class="example-full-width">
							<input matInput type="text" name="label" [(ngModel)]="server.label" formControlName="label" placeholder="Server einz">
							@if (formGroup.get('label')?.hasError('maxlength')) {
							<mat-error>Der Name darf nur 5 Zeichen lang sein</mat-error>
							}
							@if (formGroup.get('label')?.hasError('required')) {
							<mat-error>Der Server Name ist <strong>erforderlich</strong></mat-error>
							}
						</mat-form-field>
					</form>
				</div>
				}
			</div>
		</div>
	</mat-card-header>
	<mat-card-content class="flex-container-state">
		@if(!isMobile$$()) {
		<div class="flex-item">
			{{ server.active ? 'activ' : 'nicht activ' }}
		</div>
		}
		<sm-circle-svg class="flex-item" [color]="server.active ? 'green': 'red'"></sm-circle-svg>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="onActivateToggleClick()">{{isActiveLabel$$()}}</button>
	</mat-card-actions>
</mat-card>
