<div class="mat-elevation-z8">
	@if(!isActiveServerDashboard) {
	<div class="flex-container">
		<mat-checkbox
			class="checkboxActive"
			[(ngModel)]="checked" (change)="onCheckboxValueChanged()">
			Aktive Server
		</mat-checkbox>
		<mat-divider [vertical]="true" class="divider"></mat-divider>
		<p class="validationLabel">Validierung :</p>
		<button type="button" class="validationbutton" mat-button (click)="onActivateValidationToggleClick()">{{isActiveLabel$$()}}</button>
	</div>
	}

	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
		<ng-container matColumnDef="label">
			<th mat-header-cell *matHeaderCellDef> Label </th>
			<td mat-cell *matCellDef="let server"> {{server.label}} </td>
		</ng-container>

		<ng-container matColumnDef="active">
			<th mat-header-cell *matHeaderCellDef> Status </th>
			<td mat-cell *matCellDef="let server"> {{ server.active ? 'activ' : 'nicht activ' }} </td>
		</ng-container>

		<ng-container matColumnDef="validation">
			<th mat-header-cell *matHeaderCellDef> Validierung an/aus </th>
			<td mat-cell *matCellDef="let server">
				<section class="toggle-section ">
					<mat-slide-toggle
						class="toggle-margin"
						[checked]="server.validation" (change)="onValidationChange($event, server)">
					</mat-slide-toggle>
				</section>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
		aria-label="Select page of servers">
	</mat-paginator>
</div>
